<html lang='en'>
    <head>
		<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400i" rel="stylesheet">
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div>
            <div class='center'>
                <div class='title'>Каква порода е кучето?</div>
				<div class='result-label'>
					<label id='result-label'></label>
				</div>
				
                <div class='content'>
                    <div class='no-display'>
                        <input id='file-input'
                            class='no-display'
                            type='file'
                            name='file'
                            accept='image/*'
                            onchange='showPicked(this)'>
                    </div>
                    <button class='choose-file-button' type='button' onclick='showPicker()'>Избери снимка</button>
                    <div class='upload-label'>
                        <label id='upload-label'>Не е избрана снимка</label>
                    </div>
                    <div>
                        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                    </div>
                    <div class='analyze'>
                        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Давай</button>
                    </div>
					<div class='credit'>Антон Тотоманов <a href ="https://github.com/opyoumi/dog-breed-classifier/">@opyoumi</div>
                </div>
            </div>
        </div>
    </body>
</html>
