body {
    background-color: #FBEEC1;
	
}
* {
	font-family: 'Merriweather', serif;
}

.no-display {
    display: none;
}

button {
  cursor:pointer;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
	font-weight:400i;
	font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 0.5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 24px;
}
.credit {
	padding-top:10px;
	font-size: 12px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #bc986a;
  font-size: 13px;
  color: #bc986a;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #bc986a;
    border-radius: 2px;
    background-color: #bc986a;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}